<div class="modal-body">
  <h4 class="card-title text-center mt-2">{{ pokemon?.nome | uppercase }}</h4>
  <div class="card bg-transparent border-0">
    <div class="d-flex justify-content-center bg-transparent border-0">
      <div class="img">
        <img src="{{ pokemon?.gif }}" alt="Card image cap" />
      </div>
    </div>
    <div
      class="card-footer d-flex justify-content-center bg-transparent border-0"
      *ngIf="pokemon.tipo"
    >
      <button
        *ngFor="let pkmTipo of pokemon.tipo"
        type="button"
        [ngClass]="pkmTipo.nome"
        class="btn btn-sm mr-2"
      >
        {{ pkmTipo.nome | uppercase }}
      </button>
    </div>
    <div class="card-body">
        <h4 class="card-title text-center mt-2">Description</h4>
      <p class="card-text">{{ pokemon?.descricao }}</p>
    </div>
  </div>

  <h4 class="card-title text-center mt-2">Power</h4>
  <div class="d-flex justify-content-center p-2">
    <app-power-pokemon [single]="pokemon?.status"></app-power-pokemon>
  </div>
</div>
