<nav class="navbar navbar-expand-lg navbar-light bg-light shadow ">
  <h4 class="mr-auto">NGX-POKEDEX</h4>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
    <div class="form-inline my-2 my-lg-0 ml-auto">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Ex.Bulbasaur or bulba"
        aria-label="Search"
        [(ngModel)]="pokemonName"
      />
      <button (click)="searchPokemon()" class="btn btn-outline-secondary">
        Search
      </button>
    </div>
  </div>
</nav>
